@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-color-secondary py-3 px-9 rounded-md capitalize font-bold hover:opacity-80 ease-in hover:-translate-y-1 transition-all duration-200;
}
.card-btn {
  @apply w-full px-9 py-3 bg-color-gray rounded-md font-bold hover:bg-color-secondary ease-in duration-200;
}
.title {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold  md:leading-10;
}
.color-block1 {
  @apply bg-[#8063d1] w-80 h-80 absolute -z-10 top-0 -left-5 blur-xl opacity-40 overflow-hidden rounded-full;
}
.color-block2 {
  @apply bg-[#e67700] w-80 h-80 absolute -z-10 bottom-10 right-0 blur-xl opacity-40 overflow-hidden rounded-full;
}
.user-text {
  display: none;
}
.user-text.active-text {
  display: block;
  animation: moveup 0.2s linear;
}
.user-pic {
  transition: all 0.2s ease;
}
.user-pic.active-user {
  border: 5px solid #cc873e;
}

@keyframes moveup {
  0% {
    margin-top: 40px;
    opacity: 0;
  }
  50% {
    margin-top: 20px;
    opacity: 0.6;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
.card {
  perspective: 1000px;
}
.front,
.back {
  backface-visibility: hidden;
  transition: all 0.4s ease;
}
.front {
  overflow: hidden;
}
